<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet"  type="text/css" href="{% static '/games/css/style.css'%}">
</head>
<body>
 <header class="header">
  <div class="header__logo">
    <img
            class="logo"
            src="{% static '/games/img/Company_Logo.png'%}"
            alt="Company logo"
            width="45"
            height="45"
    >
  </div>

  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="{% url 'home_page' %}"
           {% if request.get_full_path == '/' %} class="nav__link is-active">
           {% else %} class="nav__link">
           {% endif %}
           Home
        </a>
      </li>
      <li class="nav__item">
        <a href="{% url 'projects' %}"
           {% if request.get_full_path == '/projects/' %} class="nav__link is-active">
           {% else %} class="nav__link">
           {% endif %}
           Projects
        </a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">
          Gallery
        </a>
      </li>
      <li class="nav__item">
        <a
          href="#"
          class="nav__link"
          data-qa="hover"
        >
          Contact Us
        </a>
      </li>
    </ul>
  </nav>

 </header>
{% block content %}
{% endblock %}
</body>
</html>