<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %}</title>

        <link rel="stylesheet"  type="text/css" href="{% static '/games/css/base_style.css'%}">
        <link rel="stylesheet"  type="text/css" href="{% static '/games/css/header.css'%}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        {% block links %}
        {% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>