{% extends "base.html" %}
{% load static %}

{% block title %} Projects {% endblock %}
{% block links %}
    <link rel="stylesheet"  type="text/css" href="{% static '/games/css/projects.css'%}">
{% endblock %}


{% block content %}
    <div class="row">
        {% for game in games_list %}
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm"><img src="{{ game.main_image.url }}" class="gallery_photo">
                    <div class="p-4">
                        <h5> <a href="{% url 'detail' game.id %}" class="text-dark">{{ game.name }}</a></h5>
                        <p class="small text-muted mb-0">small description</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
